.user {
  width: 500px;
  margin: 0 auto;
}

.user__form,
.user__data {
  display: block;
}

.preloader {
  display: none;
}

.loading .user__form ,
.loading .user__data {
  display: none;
}

.loading .preloader {
  display: block;
}